.outer-container {
  margin: 0 0.5rem;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -10px;

  &__col {
    flex-grow: 1;

    margin: 0 10px;

    &--1of2 {
      width: calc(50% - 20px);
    }
  }
}
