@mixin grid($cols) {
  @for $right from 1 through $cols {
    @for $left from 1 through $right {
      &--#{$left}of#{$right} {
        flex-basis: calc(100% * #{$left} / #{$right} - 20px);
      }
    }
  }
}

.outer-container {
  margin: 0 0.5rem;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -10px;

  &__col {
    @include yoga-column(1, 8, 10px);

    // margin: 0 10px;

    @include grid(36);
  }
}
