.outer-container {
  margin: 0 0.5rem;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -10px;

  &__col {
    // flex-grow: 1;

    margin: 0 10px;

    @for $right from 1 through 12 {
      @for $left from 1 through $right {
        &--#{$left}of#{$right} {
          width: calc(100% * #{$left} / #{$right} - 20px);
        }
      }
    }
  }
}
