.pricing-features {
  width: 328px;
  margin: 0;
  float: left;

  background: #F7F7F7;

  text-align: center;

  &__item {
    margin: 0;
    padding: 5px;

    border-left: 2px #878787 solid;
    border-right: 2px #878787 solid;
    border-bottom: 2px #878787 solid;
  }
}
