@import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';
@import 'cssgram';

body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

@import 'grid';
@import 'top-nav';
@import 'banner';
@import 'pricing-info';
@import 'pricing-features';
@import 'pricing-choose';

p {
  border-left: 2px #878787 solid;
  border-right: 2px #878787 solid;
  border-bottom: 2px #878787 solid;

  text-align: center;
}

button {
  margin: 9px;
}

.row {
  clear: left;
}

.half {
  float: left;
  margin-right: 20px;
  width: 502px;
}

.half:first-child {
  margin-left: 120px;
}

.half:last-child {
  margin-right: 120px;
}

.kinda-big-text {
  font-size: 20px;
  border: 0;
  text-align: left;
}

.little-text {
  border: 0;
  text-align: left;
}

.author-notes {
  position: absolute;
  top: 100px;
  right: 1278px;
  background: red;
  padding: 300px;
}

#bottom {
  clear: left;
  border: 0;
  background: black;
  color: #888888;
  padding: 8px;
  margin-top: 20px;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -8px;
}

.something {
  clear: both;
  height: 20px;
  width: 1280px;
  overflow-x: hidden;
}

#bottom a {
  color: white;
}

body {
  margin-bottom: 0;
}
