// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';

body {
  margin: 0;
  font-family: sans-serif;
}

@import 'grid';
@import 'top-nav';
@import 'banner';
@import 'pricing-info';

#pricing-blue {
  margin-top: 40px;
  border: 2px #878787 solid;
  background: #2C4985;
  width: 328px;
}

#pricing-black {
  margin-top: 40px;
  border: 2px #878787 solid;
  background: black;
  width: 328px;
}

#personal-features {
  background: #F7F7F7;
  margin-left: 120px;
  margin-right: 20px;
  width: 328px;
  float: left;
}

#business-features {
  background: #F7F7F7;
  margin-right: 20px;
  width: 328px;
  float: left;
}

#enterprise-features {
  background: #F7F7F7;
  margin-right: 120px;
  width: 328px;
  float: left;
}

#personal-features p {
  margin: 0;
  padding: 5px;
}

#business-features p {
  margin: 0;
  padding: 5px;
}

#enterprise-features p {
  margin: 0;
  padding: 5px;
}

p {
  border-left: 2px #878787 solid;
  border-right: 2px #878787 solid;
  border-bottom: 2px #878787 solid;

  text-align: center;
}

.per-month {
  border: 0;
  color: white;
  text-align: center;
}

#personal-choose {
  margin-bottom: 40px;
  background: #F7F7F7;
  margin-left: 120px;
  margin-right: 20px;
  width: 328px;
  float: left;

  border-left: 2px #878787 solid;
  border-right: 2px #878787 solid;
  border-bottom: 2px #878787 solid;
  text-align: center;
}

#business-choose {
  margin-bottom: 40px;
  background: #F7F7F7;
  margin-right: 20px;
  width: 328px;
  float: left;

  border-left: 2px #878787 solid;
  border-right: 2px #878787 solid;
  border-bottom: 2px #878787 solid;
  text-align: center;
}

#enterprise-choose {
  margin-bottom: 40px;
  background: #F7F7F7;
  margin-right: 120px;
  width: 328px;
  float: left;

  border-left: 2px #878787 solid;
  border-right: 2px #878787 solid;
  border-bottom: 2px #878787 solid;
  text-align: center;
}

button {
  margin: 9px;
}

.row {
  clear: left;
}

.half {
  float: left;
  margin-right: 20px;
  width: 502px;
}

.half:first-child {
  margin-left: 120px;
}

.half:last-child {
  margin-right: 120px;
}

.kinda-big-text {
  font-size: 20px;
  border: 0;
  text-align: left;
}

.little-text {
  border: 0;
  text-align: left;
}

.author-notes {
  position: absolute;
  top: 100px;
  right: 1278px;
  background: red;
  padding: 300px;
}

#bottom {
  clear: left;
  border: 0;
  background: black;
  color: #888888;
  padding: 8px;
  margin-top: 20px;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -8px;
}

.something {
  clear: both;
  height: 20px;
  width: 1280px;
  overflow-x: hidden;
}

#bottom a {
  color: white;
}

body {
  margin-bottom: 0;
}
